<%- include("templates/header") %>

    <!-- If the user is not logged in -->
    <button onclick="window.location.href='signup'" type="button">Sign up</button><br>
    <button onclick="window.location.href='login'" type="button">Log in</button>


    <%- include("templates/footer") %>