<%- include("templates/header") %>


    log in
    <form action='/loggingin' method='post'>
        <input name='username' type='text' placeholder='username'><br>
        <input name='password' type='password' placeholder='password'><br>

        <!-- Display error message if present -->
        <% if (errorMessage) { %>
            <p style="color: red;">
                <%= errorMessage %>
            </p>
            <% } %>
                <button>Submit</button>
    </form>



    <%- include("templates/footer") %>